.theme-white-mode{
    width: 40px;
    height: 40px;
    margin-left: 10px;
  }
  .theme-telegram-dark {
    width: 35px;
    height: 35px;
    margin: 2%;
  }
.rounded-img {                     
  width: 60%;
  border-radius: 50%;
  }
  .shadow {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.928), ;
  }